/target
target
/Cargo.lock
.vscode
Cargo.lock
easy_compute/Cargo.lock
.venx/expr/*
saves
assets/mca/49 
assets/mca/121
.cache/*

# Added by cargo
#
# already existing elements were commented out

#/target
